
</div>
<div class="container" style="margin-top: 100px; background-color:rgb(245,222,179); border-top-left-radius: 5px; border-top-right-radius: 5px; box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);">
  <p>
    Welcome to our daily blog, where thoughts and ideas come to life. Our platform is a space for creativity, inspiration, and self-expression. Whether you're a seasoned writer or just starting to share your voice with the world, Daily Blog offers a supportive community and a variety of topics to explore. From personal anecdotes to in-depth analysis, our blog covers a wide range of subjects, ensuring there's something for everyone. Join us on this journey of discovery, where every day brings new perspectives, stories, and connections.
  </p>
</div>

<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Shashwat Asthana</p>
  </div>
</div>
</body>
</html>
